<div class="modal-body account_step">
  <div class="a-progress">
    <div class="progress-step progress-step-1 active">1</div>
    <div class="progress-step progress-step-2">2</div>
    <div class="progress-step progress-step-3">3</div>
    <div class="progress-step progress-step-4">4</div>
  </div>

  <div class="part-header">
    <p>Pirmas žingsis.</p>
  </div>

  <div class="form-group">
    <%= f.text_field :email, class: "form-control", placeholder: "El. paštas", autofocus: true, required: true %>
  </div>
  <div class="form-group">
    <%= f.password_field :password, class: "form-control", autocomplete: "off", placeholder: "Slaptaždis", required: true %>
  </div>
  <div class="form-group">
    <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "off", placeholder: "Pakartotinas slaptažodis", required: true %>
  </div>
</div>
