<div class="modal-body confirmation_step">
  <div class="a-progress">
    <div class="progress-step progress-step-1 active">1</div>
    <div class="progress-step progress-step-2 active">2</div>
    <div class="progress-step progress-step-3 active">3</div>
    <div class="progress-step progress-step-4 active">4</div>
  </div>

  <div class="part-header">
    <p>Paskutinis žingsnis</p>
  </div>

  <div class="part-1">
    <div class="form-group">
      <%= f.text_field :phone, class: "form-control", placeholder: "Telefono numeris", autofocus: true, required: true %>
    </div>
  </div>

  <div class="part-2" style="display: none;">
    <div class="form-group">
      <p>Saugumo kodas, kurį gavote SMS žinute</p>
      <%= text_field_tag :verification_code, :verification_code, class: "form-control", placeholder: "Saugumo kodas", required: true %>
    </div>
  </div>
</div>
