<div class="modal-body pregnant_step">
  <div class="a-progress">
    <div class="progress-step progress-step-1 active">1</div>
    <div class="progress-step progress-step-2 active">2</div>
    <div class="progress-step progress-step-3 active">3</div>
    <div class="progress-step progress-step-4">4</div>
  </div>

  <div class="part-2">
    <div class="part-header">
      <%= image_tag "child-md.png" %>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>

    <div class="form-group">
      <%= select_tag '', options_for_select(1..9), class: "form-control", id: "user_children_count" %>
    </div>

    <%= f.fields_for :children, (@user.children.any? ? @user.children : @user.children.build) do |ff| %>
      <script>
        $(document).ready(function() {
          $('#user_children_count').on('change', function() {
            var num = $(this).val();
            var nested = $(this).closest('.modal-body').find('.nested-group');
            var modalBody = $(this).closest('.modal-body');
            var childNum = ['Pirmo', 'Antro', 'Trečio', 'Ketvirto', 'Penkto', 'Šešto', 'Septinto', 'Aštunto', 'Devinto'];

            if (num > nested.length) {
              for (var n = 0; n < num; ++ n) {
                if (nested[n] === undefined) {
                  var nestedForm = $("<%= j render('devise/registrations/parent_children', ff: ff) %>");
                  $(this).parent().append(nestedForm);

                  var el = modalBody.find(".nested-group:eq("+n+") p");
                  var text = el.text();
                  modalBody.find(".nested-group:eq("+n+") p").text(childNum[n] +' '+ text);
                
                  nestedForm.find(':input').each(function(){
                    var oldName = $(this).attr('name');
                    var newName = oldName.replace(new RegExp(/\[[0-9]+\]/), "["+n+"]");
                    $(this).attr('name', newName);

                    var oldId = $(this).attr('id');
                    var newId = oldName.replace(new RegExp(/\[[0-9]+\]/), "["+n+"]");
                    $(this).attr('id', newName);
                  });
                }
              }
            } else if (num >= 1) {
              console.log(num);
              for (var n = num; n < nested.length; ++ n) {
                nested[n].remove();
              }
            }
          });

          $('#user_children_count').trigger('change');
        });
      </script>
    <% end %>
  </div>
</div>