<div class="nested-group">
  <p>Vaiko duomenys</p>
  <div class="form-group">
    <%= ff.text_field :first_name, class: "form-control", placeholder: "Vardas", required: true %> 
  </div> 
  <div class="form-group">
    <%= ff.select :gender, options_for_select([["Berniukas", "boy"], ["Mergaitė", "girl"]]), {prompt: "Lytis"}, {class: "form-control", required: true} %>
  </div> 
  <div class="form-group form-group-date"> 
    <%= ff.date_select :dob, {start_year: 1925, end_year: Date.current.strftime("%Y").to_i, prompt: {year: "Gimimo metai", month: "Mėnuo", day: "Diena"}}, class: "form-control", required: true %>
  </div>
</div>