<div class="modal-body pregnant_step">
  <div class="a-progress">
    <div class="progress-step progress-step-1 active">1</div>
    <div class="progress-step progress-step-2 active">2</div>
    <div class="progress-step progress-step-3 active">3</div>
    <div class="progress-step progress-step-4">4</div>
  </div>

  <div class="part-3">
    <div class="part-header">
      <p>Esu neščia</p>
    </div>
    <%= f.fields_for :children, (@user.children.any? ? @user.children : @user.children.build) do |ff| %>
      <div class="form-group form-group-date">
        <%= ff.date_select :dob, {start_year: Date.current.strftime("%Y").to_i, end_year: (Date.current + 9.month).strftime("%Y").to_i, prompt: {year: "Gimdymo data", month: "Mėnuo", day: "Diena"}}, class: "form-control", required: true %>
      </div>
      <div class="form-group">
        <%= ff.select :gender, options_for_select([['Berniukas', 'boy'], ['Mergaitė', 'girl'], ['Nežinoma', 'unknown']]), {prompt: "Lytis"}, {class: "form-control", required: true} %>
      </div>
    <% end %>
  </div>
</div>