<div class="modal-body status_step">
  <div class="a-progress">
    <div class="progress-step progress-step-1 active">1</div>
    <div class="progress-step progress-step-2 active">2</div>
    <div class="progress-step progress-step-3 active">3</div>
    <div class="progress-step progress-step-4">4</div>
  </div>

  <div class="part-1">
    <div class="part-header">
      <p>Tečias žingsnis</p>
    </div>

    <div class="form-group">
      <%= image_tag "nokids.png" %>
      <%= f.radio_button :status, "childless", checked: true %>
      <%= label_tag "status_1", "Noriu susilaukti" %>
    </div>
    <div class="form-group">
      <%= image_tag "pregnant.png" %>
      <%= f.radio_button :status, "pregnant" %>
      <%= label_tag "status_2", "Esu nėščia" %>
    </div>
    <div class="form-group">
      <%= image_tag "child-sm.png" %>
      <%= f.radio_button :status, "parent" %>
      <%= label_tag "status_3", "Esu mama" %>
    </div>
  </div>
</div>
