<div class="modal-body user_step">
  <div class="a-progress">
    <div class="progress-step progress-step-1 active">1</div>
    <div class="progress-step progress-step-2 active">2</div>
    <div class="progress-step progress-step-3">3</div>
    <div class="progress-step progress-step-4">4</div>
  </div>

  <div class="part-header">
    <p>Antras žingsnis</p>
  </div>

  <div class="form-group">
    <%= f.text_field :first_name, class: "form-control", placeholder: "Vardas", autofocus: true, required: true %>
  </div>
  <div class="form-group">
    <div class="select-group-3">
      <%= f.date_select :dob, {start_year: 1925, end_year: (Date.current - 16.years).strftime("%Y").to_i, prompt: {year: "Gimimo metai", month: "Mėnuo", day: "Diena"}}, {class: "form-control", required: true} %>
    </div>
  </div>
  <div class="form-group">
    <%= f.select :location, options_for_select(SELECT_LOCATION), {prompt: "Miestas"}, {class: "form-control", required: true} %>
  </div>
</div>
