<% if @user.new_record? %>
  '<%= form_for(@user, as: resource_name, url: registration_path(resource_name), :html => {:id => "sign_up_user"}, :remote => true)  do |f| %>'
    $('#sign_up_user .modal-body').replaceWith('<%= j render("devise/registrations/#{@user.current_step}_step", :f => f) %>');
  '<% end %>'
  $('#sign_up_user').find('input[autofocus]').trigger('focus');
<% else %>
  window.location.replace('/');
<% end %>
