<h2>Paskyros nustatymai</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { multipart: true, method: :put }) do |f| %>
  <div class="form-group form-avatar">
    <%= current_user.avatar.url.present? ? image_tag(current_user.avatar.url(:thumb)) : content_tag(:div, nil, class: "image") %>
    <div class="fileUpload btn btn-green">
      <span>Įkelti nuotrauką</span>
      <%= f.file_field :avatar, class: "upload", accept: 'image/jpeg, image/png, image/gif' %>
      <%= f.hidden_field :avatar_cache %>
    </div>
  </div>

  <div class="form-group">
    <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "El. paštas" %>
    <%= content_tag :p, resource.errors[:email].join("<br />").html_safe, class: "input-error" %>
  </div>

  <div class="form-group">
    <%= f.text_field :first_name, class: "form-control", placeholder: "Vardas" %>
    <%= content_tag :p, resource.errors[:first_name].join("<br />").html_safe, class: "input-error" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Laukiame <%= resource.unconfirmed_email %> patvirtinimo</div>
  <% end %>

  <div class="form-group">
    <%= f.label :current_password, "Įveskite esamą slaptažodį, kad išsaugotumėte pakeitimus" %>
    <%= f.password_field :current_password, autocomplete: "off", class: "form-control", placeholder: "Esamas slaptažodis" %>
    <%= content_tag :p, resource.errors[:current_password].join("<br />").html_safe, class: "input-error" %>
  </div>

  <div class="form-group">
    <%= f.label :password, "Palikite tuščią jeigu nenorite keisti" %>
    <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Slaptažodis" %>
    <%= content_tag :p, resource.errors[:password].join("<br />").html_safe, class: "input-error" %>
  </div>

  <div class="form-group">
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Slaptažodžio patvirtinimas" %>
    <%= content_tag :p, resource.errors[:password_confirmation].join("<br />").html_safe, class: "input-error" %>
  </div>

  <div class="actions">
    <%= f.submit "Atnaujinti", class: "btn btn-primary btn-large", data: {disable_with: "Atnaujinti"} %>
  </div>
<% end %>

<br>
<br>
<h3>Paskyra</h3>
<%= button_to "Panaikinti paskyrą", registration_path(resource_name), data: { confirm: "Ar esate tikras, kad norite panaikinti paskyrą?" }, method: :delete, class: "btn btn-primary btn-large" %>
