<% if favorite.persisted? %>
  <%= link_to "#{fa_icon 'heart-o'} Patinka!".html_safe, favorite_path(favorite), class: "unlike", id: "favorite-#{favorite.id}", method: :delete, remote: true %>
<% else %>
  <%= link_to "#{fa_icon 'heart-o'} Patinka!".html_safe, favorites_path(post_id: favorite.favoritable_id), class: "like", id: "favoritable-#{favorite.favoritable_id}", method: :post, remote: true %>
<% end %>

