<% if favorite.persisted? %>
  <%= link_to "#{fa_icon 'star'}".html_safe, favorite_path(favorite), method: :delete, remote: true %>
<% else %>
  <%= link_to "#{fa_icon 'star-o'}".html_safe, favorites_path(topic_id: favorite.favoritable_id), method: :post, remote: true %>
<% end %>