<% if @favorite.errors.any? %>
  $('.navigation .alert ul').html('').append("<% @favorite.errors.full_messages.each do |msg| %><li class='alert-error'><i class='fa fa-exclamation-triangle'></i> <%= msg %></li><% end %>");
<% else %>
  $("#favoritable-<%= @favorite.favoritable_id%>").replaceWith("<%= escape_javascript(render 'favorites/favorite_post', favorite: @favorite) %>");
  var counter = $("#favorite-post-counter-<%= @favorite.favoritable_id%>").text();
  counter++;
  console.log("sukurem ir ikeliam = " + counter)
  $("#favorite-post-counter-<%= @favorite.favoritable_id %>").text(counter);
<% end %>
