<% if @favorite.errors.any? %>
  // $('.navigation .alert').remove();
  $('.navigation .alert ul').append("<% @favorite.errors.full_messages.each do |msg| %><li class='alert-error'><i class='fa fa-exclamation-triangle'></i> <%= msg %></li><% end %>");
<% else %>
  $(".favorite-indicator").html("<%= escape_javascript(render 'favorites/favorite_topic', favorite: @favorite) %>");
<% end %>
