<% if @favorite.errors.any? %>
  $('.navigation .alert ul').html("<% @favorite.errors.full_messages.each do |msg| %><li class='alert-error'><i class='fa fa-exclamation-triangle'></i><%= msg %></li><% end %>");
<% else %>
  if ($(".favorite-indicator").length > 0) {
    $(".favorite-indicator").html("<%= escape_javascript(render 'favorites/favorite_topic', favorite: current_user.favorites.build(favoritable_id: @obj.id)) %>");
  } else if ($('.favorites-user').length > 0) {
    $(".favorite-list #topic-<%= @obj.id %>").remove();
  }
<% end %>
