<% if @favorite.errors.any? %>
  $('.navigation .alert ul').html("<% @favorite.errors.full_messages.each do |msg| %><li class='alert-error'><i class='fa fa-exclamation-triangle'></i><%= msg %></li><% end %>");
<% else %>
  $("#favorite-<%= @favorite.id%>").replaceWith("<%= escape_javascript(render 'favorites/favorite_post', favorite: current_user.favorites.build(favoritable_id: @obj.id)) %>");
  var counter = $("#favorite-post-counter-<%= @favorite.favoritable_id %>").text();
  counter--;
  $("#favorite-post-counter-<%= @favorite.favoritable_id %>").text(counter);

<% end %>
