<div class="article-item section">
  <%= "<a class='article-image' href='#{article_path(article)}'>#{image_tag article.image.url(:lg)}</a>".html_safe unless article.image.url.blank? %>
  <div class="article-title">
    <%= link_to article.title, article_path(article) %>
  </div>
</div>
