<div class="article section">
  <div class="article-title"><%= @article.title %></div>
  <%= "<div class='article-image'>#{image_tag @article.image.url(:lg)}</div>".html_safe unless @article.image.url.blank? %>
  <div class="article-body"><%= @article.body.html_safe %></div>
</div>

<%= content_for :rightbar do %>
  <%#= render 'rightbar' %>
<% end %>