<%= form_for((@topic ||= Topic.new), remote: true, format: :js) do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>

  <div class="form-group">
    <%= f.text_field :subject, placeholder: "Klausimas", class: "form-control" %>
    <%= content_tag :p, @topic.errors[:body].join("<br />").html_safe, class: "input-error" %>
  </div>

  <div class="form-group">
    <%= f.text_area :body, placeholder: "Kaulsimo aprašymas", class: "form-control" %>
    <%= content_tag :p, @topic.errors[:body].join("<br />").html_safe, class: "input-error" %>
  </div>

  <div class="actions">
    <%= f.submit "Užduoti klausimą", class: "btn btn-green btn-lg" %>
  </div>
<% end %>
