<div class="topic-item">
  <div class="avatar">
    <%= topic.user.avatar.url.present? ? image_tag(topic.user.avatar.url(:thumb)) : content_tag(:div, nil, class: "image") %>
    <%= content_tag :div, topic.user.first_name, class: "name" %>
  </div>

  <div class="inner-right">
    <div class="subject">
      <h2><%= link_to topic.subject, topic %></h2>
      <div class="date">prieš <%= distance_of_time_in_words(topic.updated_at, Time.now) %></div>
    </div>

    <div class="body">
      <%= simple_format(topic.body) %>
    </div>
  </div>
</div>
