<% if @topic.errors.any? %>
  $("form.new_topic").replaceWith("<%= escape_javascript(render 'topics/form', object: @topic) %>");
<% else %>
  $("#main-section .topic-list").prepend("<%= escape_javascript(render 'topics/topic', topic: @topic) %>");
  $("form.new_topic").find("input[type=text], textarea").val("");
<% end %>
