$('.topic-list #infinite-scrolling').before('<%= j render @topics %>');

<% if @topics.next_page %>
  $('.pagination').replaceWith('<%= j will_paginate @topics %>');
<% else %>
  $(window).off('scroll');
  $('.pagination').remove();
<% end %>

