<div id="main-section" class="section">
  <div class="section-heading"><h2>Pokalbiai</h2></div>
  
  <div class="inner-top">
    <div class="avatar">
      <%= current_user.avatar.url.present? ? image_tag(current_user.avatar.url(:thumb)) : content_tag(:div, nil, class: "image") %>
      <%= content_tag :div, current_user.first_name, class: "name" %>
    </div>
    <%= render 'form' %>
  </div>
  
  <div class="topic-list">
    <% @topics.each do |topic| %>
      <%= render topic %>
    <% end %>

    <div id="infinite-scrolling">
      <%= will_paginate @topics %>
    </div>
  </div>
</div>
