<div id="main-section" class="section">
  <div class="section-heading">
    <h2><%= @topic.subject %></h2>

    <div class="favorite-indicator">
      <%= render "favorites/favorite_topic", favorite: @favorite %>
    </div>
    
    <div class="posts-indicator">
      <%= fa_icon 'comment' %>
      <span class="posts-counter"><%= @topic.posts.count %></span>
    </div>
  </div>

  <div class="inner-top">
    <div class="avatar">
      <%= @topic.user.avatar.url.present? ? image_tag(@topic.user.avatar.url(:thumb)) : content_tag(:div, nil, class: "image") %>
      <%= content_tag :div, @topic.user.first_name, class: "name" %>
    </div>

    <div class="body">
      <%= simple_format(@topic.body) %>
    </div>

    <div class="actions">
      <a href="#new_post" class="btn btn-green btn-lg">Atsakyti</a>
    </div>
  </div>
  
  <div class="list-heading">Atsakymai</div>

  <div class="post-list">
    <%= render @posts %>
  </div>

  <div class="inner-bottom">
    <div class="avatar">
      <%= current_user.avatar.url.present? ? image_tag(current_user.avatar.url(:thumb)) : content_tag(:div, nil, class: "image") %>
      <%= content_tag :div, current_user.first_name, class: "name" %>
    </div>    
    <%= render partial: "posts/form", locals: {topic: @topic, post: @post} %>
  </div>
</div>
