<div id="main-section" class="section">
  <div class="section-heading"><h2>Mano užduoti klausimai</h2></div>
  
  <div class="topic-list">
    <% @topics.each do |topic| %>

      <div id="topic-<%= topic.id %>" class="topic-item">
        <div class="avatar">
          <%= topic.user.avatar.url.present? ? image_tag(topic.user.avatar.url(:thumb)) : content_tag(:div, nil, class: "image") %>
        </div>

        <div class="subject">
          <h2><%= link_to topic.subject, topic %></h2>
          <div class="date">prieš <%= distance_of_time_in_words(topic.updated_at, Time.now) %></div>
        </div>

        <div class="body">
          <%= simple_format(topic.body) %>
        </div>

        <div class="actions">
          <%= link_to "Peržiūrėti", topic, class: "btn btn-primary btn-md" %>
          <%= link_to "Ištrinti", topic_path(topic, user_id: current_user.id), class: "btn btn-gray btn-md", method: :delete, remote: true %>
        </div>
      </div>

    <% end %>
  </div>
</div>
