<div class="form-header">Pamiršote slaptažodį?</div>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.email_field :email, autofocus: true, placeholder: "El. paštas", class: "form-control", required: true %>
  </div>

  <div class="actions">
    <%= f.submit "Siųsti slaptažodžio priminimą", class: "btn btn-primary btn-lg" %>
  </div>
<% end %>
