$('.article-list #infinite-scrolling').before('<%= j render @articles %>');

<% if @articles.next_page %>
  $('.pagination').replaceWith('<%= j will_paginate @articles %>');
<% else %>
  $(window).off('scroll');
  $('.pagination').remove();
<% end %>

