<% if @page.heading.present? and ActionView::Base.full_sanitizer.sanitize(@page.body).present? %>
  <div class="article section">
    <div class="article-title"><%= @page.title %></div>
    <%= "<div class='article-image'>#{image_tag @page.image.url(:lg)}</div>".html_safe unless @page.image.url.blank? %>
    <div class="article-body"><%= @page.body.html_safe %></div>
  </div>
<% end %>

<% if @page.categories.any? %>
  <div class="article-list">
    <% @page.categories.each do |category| %>
      <% @articles = category.articles.paginate(page: params[:page], per_page: 10).order('created_at DESC')   %>

      <%= render @articles %>

      <div id="infinite-scrolling">
        <%= will_paginate @articles %>
      </div>
    <% end %>
  </div>
<% end %>

<%= content_for :rightbar do %>
  <%#= render 'rightbar' %>
<% end %>