<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {:id => "sign_in_user", :"data-format" => "js"}, :remote => true) do |f| %>
  <div class="modal-body">

    <div class="form-alert"><ul></ul></div>

    <div class="form-group">
      <%= f.text_field :email, placeholder: "El. pašto adresas", required: true, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.password_field :password, placeholder: "Slaptažodis", class: "form-control", autocomplete: "off", required: true %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="form-group form-remember">
        <%= f.check_box :remember_me %>
        <label class="remember_me"><%= "Atsiminti mane" %></label>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Prisijungti", class: "btn btn-primary btn-lg", data: { disable_with: "Sign In" } %>
    </div>
  </div>
<% end %>

<div class="shared_links">
  <%= link_to "Pamiršote slaptažodį?", new_password_path(resource_name) %>
</div>