<%= form_for [@topic, @post], html: { multipart: true }, remote: true do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>

  <div class="form-group">
    <%= f.text_area :body, placeholder: "Atsakymas į klausimą", class: "form-control" %>
    <%= content_tag :p, @post.errors[:body].join("<br />").html_safe, class: "input-error" %>
  </div>

  <div class="actions">

    <div class="fileUpload">
      <%= fa_icon "camera" %>
      <%= f.file_field :image, class: "upload", id: "uploadPostImage", accept: 'image/jpeg, image/png, image/gif' %>
    </div>

    <%= link_to "#{fa_icon 'smile-o'}".html_safe, 'javascript:void(0)', class: "smileInsert" %>

    <%= f.submit "Atsakyti", class: "btn btn-green btn-lg", data: { disable_with: "Atsakyti" } %>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {

    emojify.setConfig({
      tag_type : 'div'
    });

    $('.post-list .body .text').each(function() {
      var content = $(this).text();
      var replacedContent = emojify.replace(content);
      $(this).html(replacedContent);
    });

    $('body').on('click', '.smileInsert', function(e) {
      e.preventDefault();
    });

    $('textarea').emojiarea({button: '.smileInsert'});

    $.emojiarea.path = '';
    $.emojiarea.icons = {
      ':bowtie:' : '<%= path_to_image("emoji/bowtie.png") %>',
      ':smile:' : '<%= path_to_image("emoji/smile.png") %>',
      ':laughing:' : '<%= path_to_image("emoji/laughing.png") %>',
      ':blush:' : '<%= path_to_image("emoji/blush.png") %>',
      ':smiley:' : '<%= path_to_image("emoji/smiley.png") %>',
      ':relaxed:' : '<%= path_to_image("emoji/relaxed.png") %>',
      ':smirk:' : '<%= path_to_image("emoji/smirk.png") %>',
      ':heart_eyes:' : '<%= path_to_image("emoji/heart_eyes.png") %>',
      ':kissing_heart:' : '<%= path_to_image("emoji/kissing_heart.png") %>',
      ':kissing_closed_eyes:' : '<%= path_to_image("emoji/kissing_closed_eyes.png") %>',
      ':flushed:' : '<%= path_to_image("emoji/flushed.png") %>',
      ':relieved:' : '<%= path_to_image("emoji/relieved.png") %>',
      ':satisfied:' : '<%= path_to_image("emoji/satisfied.png") %>',
      ':grin:' : '<%= path_to_image("emoji/grin.png") %>',
      ':wink:' : '<%= path_to_image("emoji/wink.png") %>',
      ':stuck_out_tongue_winking_eye:' : '<%= path_to_image("emoji/stuck_out_tongue_winking_eye.png") %>',
      ':stuck_out_tongue_closed_eyes:' : '<%= path_to_image("emoji/stuck_out_tongue_closed_eyes.png") %>',
      ':grinning:' : '<%= path_to_image("emoji/grinning.png") %>',
      ':kissing:' : '<%= path_to_image("emoji/kissing.png") %>',
      ':kissing_smiling_eyes:' : '<%= path_to_image("emoji/kissing_smiling_eyes.png") %>',
      ':stuck_out_tongue:' : '<%= path_to_image("emoji/stuck_out_tongue.png") %>',
      ':sleeping:' : '<%= path_to_image("emoji/sleeping.png") %>',
      ':worried:' : '<%= path_to_image("emoji/worried.png") %>',
      ':frowning:' : '<%= path_to_image("emoji/frowning.png") %>',
      ':anguished:' : '<%= path_to_image("emoji/anguished.png") %>',
      ':open_mouth:' : '<%= path_to_image("emoji/open_mouth.png") %>',
      ':grimacing:' : '<%= path_to_image("emoji/grimacing.png") %>',
      ':confused:' : '<%= path_to_image("emoji/confused.png") %>',
      ':hushed:' : '<%= path_to_image("emoji/hushed.png") %>',
      ':expressionless:' : '<%= path_to_image("emoji/expressionless.png") %>',
      ':unamused:' : '<%= path_to_image("emoji/unamused.png") %>',
      ':sweat_smile:' : '<%= path_to_image("emoji/sweat_smile.png") %>',
      ':sweat:' : '<%= path_to_image("emoji/sweat.png") %>',
      ':disappointed_relieved:' : '<%= path_to_image("emoji/disappointed_relieved.png") %>',
      ':weary:' : '<%= path_to_image("emoji/weary.png") %>',
      ':pensive:' : '<%= path_to_image("emoji/pensive.png") %>',
      ':disappointed:' : '<%= path_to_image("emoji/disappointed.png") %>',
      ':confounded:' : '<%= path_to_image("emoji/confounded.png") %>',
      ':fearful:' : '<%= path_to_image("emoji/fearful.png") %>',
      ':cold_sweat:' : '<%= path_to_image("emoji/cold_sweat.png") %>',
      ':persevere:' : '<%= path_to_image("emoji/persevere.png") %>',
      ':cry:' : '<%= path_to_image("emoji/cry.png") %>',
      ':sob:' : '<%= path_to_image("emoji/sob.png") %>',
      ':joy:' : '<%= path_to_image("emoji/joy.png") %>',
      ':astonished:' : '<%= path_to_image("emoji/astonished.png") %>',
      ':scream:' : '<%= path_to_image("emoji/scream.png") %>',
      ':neckbeard:' : '<%= path_to_image("emoji/neckbeard.png") %>',
      ':tired_face:' : '<%= path_to_image("emoji/tired_face.png") %>',
      ':angry:' : '<%= path_to_image("emoji/angry.png") %>',
      ':rage:' : '<%= path_to_image("emoji/rage.png") %>',
      ':triumph:' : '<%= path_to_image("emoji/triumph.png") %>',
      ':sleepy:' : '<%= path_to_image("emoji/sleepy.png") %>',
      ':yum:' : '<%= path_to_image("emoji/yum.png") %>',
      ':mask:' : '<%= path_to_image("emoji/mask.png") %>',
      ':sunglasses:' : '<%= path_to_image("emoji/sunglasses.png") %>',
      ':dizzy_face:' : '<%= path_to_image("emoji/dizzy_face.png") %>',
      ':imp:' : '<%= path_to_image("emoji/imp.png") %>',
      ':smiling_imp:' : '<%= path_to_image("emoji/smiling_imp.png") %>',
      ':neutral_face:' : '<%= path_to_image("emoji/neutral_face.png") %>',
      ':no_mouth:' : '<%= path_to_image("emoji/no_mouth.png") %>',
      ':innocent:' : '<%= path_to_image("emoji/innocent.png") %>'
    };
  });
</script>