<div class="post-item">
  <div class="avatar">
    <%= post.user.avatar.url.present? ? image_tag(post.user.avatar.url(:thumb)) : content_tag(:div, nil, class: "image") %>
    <%= content_tag :div, current_user.first_name, class: "name" %>
    <%= content_tag :div, "prieš #{distance_of_time_in_words(post.updated_at, Time.now)}", class: "date" %>
  </div>

  <div class="inner-right">
    <div class="body">
      <div class="likes">
        <%= fa_icon "heart" %>
        <%= content_tag :span, post.favorites.count, id: "favorite-post-counter-#{post.id}", class: "counter" %></span>
      </div>
      <%= simple_format(post.body, {class: "text"}, {wrapper_tag: "span"}) %>
    </div>
    <%= content_tag :div, class: "image" do %>
      <%= image_tag post.image.url(:md) %>
    <% end unless post.image.url.blank? %>
    <div class="actions">
      <%= render 'favorites/favorite_post', favorite: find_or_build_favorite(post) %>
    </div>
  </div>
</div>
