<div id="post-<%= post.id %>" class="post-item">
  <div class="avatar">
    <%= post.topic.user.avatar.url.present? ? image_tag(post.topic.user.avatar.url(:thumb)) : content_tag(:div, nil, class: "image") %>
  </div>

  <div class="subject">
    <h2><%= link_to post.topic.subject, post.topic %></h2>
    <div class="date">prieš <%= distance_of_time_in_words(post.topic.updated_at, Time.now) %></div>
  </div>


  <div class="inner-bottom">
    <div class="avatar">
      <%= post.user.avatar.url.present? ? image_tag(post.user.avatar.url(:thumb)) : content_tag(:div, nil, class: "image") %>
    </div>

    <div class="body">
      <%= simple_format(post.body) %>
    </div>
  </div>

  <div class="actions">
    <%#= link_to "Peržiūrėti", post, class: "btn btn-success btn-md" %>
    <%= link_to "Ištrinti", post_path(post, user_id: current_user.id), class: "btn btn-gray btn-md", method: :delete, remote: true %>
  </div>
</div>