<% if @post.errors.any? %>
  $("form.new_post").replaceWith("<%= escape_javascript(render 'posts/form', locals: {topic: @topic, post: @post}) %>");
<% else %>
  var item = $("<%= escape_javascript(render 'posts/post', post: @post) %>");
  var content = item.find('.body .text').first().text();
  var replacedContent = emojify.replace(content);
  item.find('.body .text').html(replacedContent);

  $(".post-list").prepend(item);

  var counter = $('.posts-counter').text();
  counter++;
  $('.posts-counter').text(counter);

  // $("form.new_post").find("input[type=text], textarea").val("");
  $('.emoji-wysiwyg-editor').text('');

  $('html, body').animate({scrollTop: $(".list-heading").offset().top}, 500); 
<% end %>
