<div id="main-section" class="section">
  <div class="section-heading"><h2>Mano atsakymai</h2></div>
  
  <div class="post-list">
    <% @user_posts.each do |post| %>
      <%= render "user_post", post: post %>
    <% end %>   
  </div>
</div>
