/* 
// JQUERY-EMOJIAREA
*/ 

.emoji-wysiwyg-editor {
  overflow: auto;
  outline: none;
  
  display: block;
  width: 100%;
  height: 100px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #f6f6f6;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.emoji-wysiwyg-editor:focus {
    border-color: #33aebe;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(51, 174, 190, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(51, 174, 190, 0.6);
}
.emoji-wysiwyg-editor img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin: -3px 0 0 0;
}
.emoji-menu {
  position: absolute;
  z-index: 999;
  width: 216px;
  margin-left: -108px;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.emoji-menu > div {
  max-height: 179px;
  overflow: auto;
  background: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.3);
  box-shadow: 0 1px 5px rgba(0,0,0,0.3);
}
.emoji-menu img {
  width: 25px;
  height: 25px;
  vertical-align: middle;
  border: 0 none;
}
.emoji-menu a {
  margin: -1px 0 0 -1px;
  border: 1px solid #f2f2f2;
  padding: 5px;
  display: block;
  float: left;
}
.emoji-menu a:hover {
  background-color: #fffae7;
}
.emoji-menu:after {
  content: ' ';
  display: block;
  clear: left;
}
.emoji-menu a .label {
  display: none;
}

/* 
// EMOJIFY
*/

.emoji {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  overflow: visible;
}

.emoji:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
}

.emoji.emoji-bowtie:after {background-image: image-url("emoji/bowtie.png");}
.emoji.emoji-smile:after {background-image: image-url("emoji/smile.png");}
.emoji.emoji-laughing:after {background-image: image-url("emoji/laughing.png");}
.emoji.emoji-blush:after {background-image: image-url("emoji/blush.png");}
.emoji.emoji-smiley:after {background-image: image-url("emoji/smiley.png");}
.emoji.emoji-relaxed:after {background-image: image-url("emoji/relaxed.png");}
.emoji.emoji-smirk:after {background-image: image-url("emoji/smirk.png");}
.emoji.emoji-heart_eyes:after {background-image: image-url("emoji/heart_eyes.png");}
.emoji.emoji-kissing_heart:after {background-image: image-url("emoji/kissing_heart.png");}
.emoji.emoji-kissing_closed_eyes:after {background-image: image-url("emoji/kissing_closed_eyes.png");}
.emoji.emoji-flushed:after {background-image: image-url("emoji/flushed.png");}
.emoji.emoji-relieved:after {background-image: image-url("emoji/relieved.png");}
.emoji.emoji-satisfied:after {background-image: image-url("emoji/satisfied.png");}
.emoji.emoji-grin:after {background-image: image-url("emoji/grin.png");}
.emoji.emoji-wink:after {background-image: image-url("emoji/wink.png");}
.emoji.emoji-stuck_out_tongue_winking_eye:after {background-image: image-url("emoji/stuck_out_tongue_winking_eye.png");}
.emoji.emoji-stuck_out_tongue_closed_eyes:after {background-image: image-url("emoji/stuck_out_tongue_closed_eyes.png");}
.emoji.emoji-grinning:after {background-image: image-url("emoji/grinning.png");}
.emoji.emoji-kissing:after {background-image: image-url("emoji/kissing.png");}
.emoji.emoji-kissing_smiling_eyes:after {background-image: image-url("emoji/kissing_smiling_eyes.png");}
.emoji.emoji-stuck_out_tongue:after {background-image: image-url("emoji/stuck_out_tongue.png");}
.emoji.emoji-sleeping:after {background-image: image-url("emoji/sleeping.png");}
.emoji.emoji-worried:after {background-image: image-url("emoji/worried.png");}
.emoji.emoji-frowning:after {background-image: image-url("emoji/frowning.png");}
.emoji.emoji-anguished:after {background-image: image-url("emoji/anguished.png");}
.emoji.emoji-open_mouth:after {background-image: image-url("emoji/open_mouth.png");}
.emoji.emoji-grimacing:after {background-image: image-url("emoji/grimacing.png");}
.emoji.emoji-confused:after {background-image: image-url("emoji/confused.png");}
.emoji.emoji-hushed:after {background-image: image-url("emoji/hushed.png");}
.emoji.emoji-expressionless:after {background-image: image-url("emoji/expressionless.png");}
.emoji.emoji-unamused:after {background-image: image-url("emoji/unamused.png");}
.emoji.emoji-sweat_smile:after {background-image: image-url("emoji/sweat_smile.png");}
.emoji.emoji-sweat:after {background-image: image-url("emoji/sweat.png");}
.emoji.emoji-disappointed_relieved:after {background-image: image-url("emoji/disappointed_relieved.png");}
.emoji.emoji-weary:after {background-image: image-url("emoji/weary.png");}
.emoji.emoji-pensive:after {background-image: image-url("emoji/pensive.png");}
.emoji.emoji-disappointed:after {background-image: image-url("emoji/disappointed.png");}
.emoji.emoji-confounded:after {background-image: image-url("emoji/confounded.png");}
.emoji.emoji-fearful:after {background-image: image-url("emoji/fearful.png");}
.emoji.emoji-cold_sweat:after {background-image: image-url("emoji/cold_sweat.png");}
.emoji.emoji-persevere:after {background-image: image-url("emoji/persevere.png");}
.emoji.emoji-cry:after {background-image: image-url("emoji/cry.png");}
.emoji.emoji-sob:after {background-image: image-url("emoji/sob.png");}
.emoji.emoji-joy:after {background-image: image-url("emoji/joy.png");}
.emoji.emoji-astonished:after {background-image: image-url("emoji/astonished.png");}
.emoji.emoji-scream:after {background-image: image-url("emoji/scream.png");}
.emoji.emoji-neckbeard:after {background-image: image-url("emoji/neckbeard.png");}
.emoji.emoji-tired_face:after {background-image: image-url("emoji/tired_face.png");}
.emoji.emoji-angry:after {background-image: image-url("emoji/angry.png");}
.emoji.emoji-rage:after {background-image: image-url("emoji/rage.png");}
.emoji.emoji-triumph:after {background-image: image-url("emoji/triumph.png");}
.emoji.emoji-sleepy:after {background-image: image-url("emoji/sleepy.png");}
.emoji.emoji-yum:after {background-image: image-url("emoji/yum.png");}
.emoji.emoji-mask:after {background-image: image-url("emoji/mask.png");}
.emoji.emoji-sunglasses:after {background-image: image-url("emoji/sunglasses.png");}
.emoji.emoji-dizzy_face:after {background-image: image-url("emoji/dizzy_face.png");}
.emoji.emoji-imp:after {background-image: image-url("emoji/imp.png");}
.emoji.emoji-smiling_imp:after {background-image: image-url("emoji/smiling_imp.png");}
.emoji.emoji-neutral_face:after {background-image: image-url("emoji/neutral_face.png");}
.emoji.emoji-no_mouth:after {background-image: image-url("emoji/no_mouth.png");}
.emoji.emoji-innocent:after {background-image: image-url("emoji/innocent.png");}
