//
// FONTS
//

@import "font-awesome";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600&subset=latin,latin-ext);

// 
// SETTINGS
// 

$default-text-color: #000;
$default-background-color: #f6f6f6;

$color-black: #282828;
$color-gray: #888;
$color-green: #33aebe;
$color-red: #F74F7F;
$color-purple: #7058bb;

$color-success: #31B709;
// 
// STYLES
// 

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  color: $default-text-color;
  background-color: $default-background-color;
  font-size: 14px;
  font-family: "open sans", arial, sans-serif;
  font-weight: normal;
  
  &.modal-open {
    overflow: hidden;
  }
}

a {
  color: $default-text-color;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}  

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 20px 0;
}

.container {
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;

  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

#main {
  position: relative;
  min-height: 100%;
}

.section {
  border-bottom: 2px solid #ddd;
  background-color: #fff;
  margin-bottom: 20px;
  padding: 20px 40px;
  border-radius: 5px;
}

.alert {

  .close {
    display: none;
  }

  ul {
    // max-width: 1060px;
    // overflow: hidden;
    // position: relative;
    // margin: 0 auto;
    // padding-left: 30px;
    // padding-right: 30px;

    li {
      position: relative;
      padding: 12px 0;
    }
  }
}

.alert-error {
  background-color: #f2dede;
  color: #b94a48;
}

.alert-alert {
  background-color: #f2dede;
  color: #b94a48;
}

.alert-success {
  background-color: #dff0d8;
  color: #468847;
}

.alert-notice {
  background-color: #dff0d8;
  color: #468847;
}

.form-alert {
  ul {
    li.error {
      color: $color-red;
    }
  }
}

.field_with_errors {
  .emoji-wysiwyg-editor,
  .form-control {
    border-color: $color-red;

    &:focus {
      border-color: $color-red;

      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(247, 79, 127, 0.6);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(247, 79, 127, 0.6);
    }
  }
}

#error_explanation {
  h2 {
    font-size: 1em;
    font-weight: bold;
    color: $color-red;
    margin: 0 0 5px;
    padding: 0;
  }

  ul {
    margin-bottom: 15px;

    li {
      color: $color-red;
    }
  }
}

.input-error {
  color: $color-red;
  margin: 5px 0;
}

// 
// SELECT GROUP
// 

.select-group-3 {

  &:after {
    content: "";
    clear: both;
    display: block;    
  }

  select {
    width: 32.22222%;
    width: calc((100% - 10px) / 3);
    float: left;
  }

  select + select {
    margin-left: 5px;
  }
}

// 
// HEADER
// 

.header {
  position: relative;
  z-index: 1;
  width: 100%;
  background-color: #fff;

  .site-logo {

    a {
      color: $default-text-color;
      text-decoration: none;
    }
  }

  .slogan {

  }

  .social-icons {
    height: 50px;

    a {
      position: relative;
      display: inline-block;
      color: #fff;
      background-color: $color-green;
      border-radius: 50px;
      width: 50px;
      height: 50px;

      .fa {
        font-size: 30px;

        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }
    }
  }
}

// 
// BUTTONS
// 

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn:hover,
.btn:focus,
.btn.focus {
  color: #333333;
  text-decoration: none;
}

.btn:active,
.btn.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}

a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none;
}

.btn-default {
    background: #eee;
    color: $default-text-color;
}
 
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
    background: lighten(#eee, 2);
}
 
.btn-default:active, .btn-default.active {
    background: #eee;
    box-shadow: none;
}

.btn-primary {
    background: $color-red;
    color: #ffffff;
}
 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    color: #fff;
    background: lighten($color-red, 2);
}
 
.btn-primary:active, .btn-primary.active {
    background: $color-red;
    box-shadow: none;
}

.btn-green {
    background: $color-green;
    color: #ffffff;
}
 
.btn-green:hover, .btn-green:focus, .btn-green:active, .btn-green.active, .open > .dropdown-toggle.btn-green {
    color: #fff;
    background: lighten($color-green, 2);
}
 
.btn-green:active, .btn-green.active {
    background: $color-green;
    box-shadow: none;
}

.btn-success {
    background: $color-success;
    color: #ffffff;
}
 
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success {
    color: #fff;
    background: lighten($color-success, 2);
}
 
.btn-success:active, .btn-success.active {
    background: $color-success;
    box-shadow: none;
}

.btn-gray {
    background: #aaa;
    color: #ffffff;
}
 
.btn-gray:hover, .btn-gray:focus, .btn-gray:active, .btn-gray.active, .open > .dropdown-toggle.btn-gray {
    color: #fff;
    background: lighten(#aaa, 2);
}
 
.btn-gray:active, .btn-gray.active {
    background: #aaa;
    box-shadow: none;
}

.btn-lg {
  padding: 8px 16px;
  font-size: 16px;
  line-height: 1.3333333;
}

.btn-md {
  padding: 6px 16px;
  font-size: 16px;
  line-height: 1.3333333;
}

.btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}

.btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
}

// 
// FORMS
// 

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0;
}
legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 400;
}
input[type="search"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal;
}
input[type="file"] {
  display: block;
}
input[type="range"] {
  display: block;
  width: 100%;
}
select[multiple],
select[size] {
  height: auto;
}
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
output {
  display: block;
  padding-top: 7px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
}
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
// .form-control:focus {
//   border-color: #66afe9;
//   outline: 0;
//   -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
//   box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
// }
.form-control:focus {
    border-color: #33aebe;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(51, 174, 190, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(51, 174, 190, 0.6);
}
.form-control::-moz-placeholder {
  color: #999999;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #999999;
}
.form-control::-webkit-input-placeholder {
  color: #999999;
}
.form-control::-ms-expand {
  border: 0;
  background-color: transparent;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #eeeeee;
  opacity: 1;
}
.form-control[disabled],
fieldset[disabled] .form-control {
  cursor: not-allowed;
}
textarea.form-control {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: none;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="date"].form-control,
  input[type="time"].form-control,
  input[type="datetime-local"].form-control,
  input[type="month"].form-control {
    line-height: 34px;
  }
  input[type="date"].input-sm,
  input[type="time"].input-sm,
  input[type="datetime-local"].input-sm,
  input[type="month"].input-sm,
  .input-group-sm input[type="date"],
  .input-group-sm input[type="time"],
  .input-group-sm input[type="datetime-local"],
  .input-group-sm input[type="month"] {
    line-height: 30px;
  }
  input[type="date"].input-lg,
  input[type="time"].input-lg,
  input[type="datetime-local"].input-lg,
  input[type="month"].input-lg,
  .input-group-lg input[type="date"],
  .input-group-lg input[type="time"],
  .input-group-lg input[type="datetime-local"],
  .input-group-lg input[type="month"] {
    line-height: 46px;
  }
}
.form-group {
  margin-bottom: 15px;
}
.radio,
.checkbox {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}
.radio label,
.checkbox label {
  min-height: 20px;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  position: absolute;
  margin-left: -20px;
  margin-top: 4px \9;
}
.radio + .radio,
.checkbox + .checkbox {
  margin-top: -5px;
}
.radio-inline,
.checkbox-inline {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer;
}
.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px;
}
input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"].disabled,
input[type="checkbox"].disabled,
fieldset[disabled] input[type="radio"],
fieldset[disabled] input[type="checkbox"] {
  cursor: not-allowed;
}
.radio-inline.disabled,
.checkbox-inline.disabled,
fieldset[disabled] .radio-inline,
fieldset[disabled] .checkbox-inline {
  cursor: not-allowed;
}
.radio.disabled label,
.checkbox.disabled label,
fieldset[disabled] .radio label,
fieldset[disabled] .checkbox label {
  cursor: not-allowed;
}
.form-control-static {
  padding-top: 7px;
  padding-bottom: 7px;
  margin-bottom: 0;
  min-height: 34px;
}
.form-control-static.input-lg,
.form-control-static.input-sm {
  padding-left: 0;
  padding-right: 0;
}
.input-sm {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
select.input-sm {
  height: 30px;
  line-height: 30px;
}
textarea.input-sm,
select[multiple].input-sm {
  height: auto;
}
.form-group-sm .form-control {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.form-group-sm select.form-control {
  height: 30px;
  line-height: 30px;
}
.form-group-sm textarea.form-control,
.form-group-sm select[multiple].form-control {
  height: auto;
}
.form-group-sm .form-control-static {
  height: 30px;
  min-height: 32px;
  padding: 6px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.input-lg {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
select.input-lg {
  height: 46px;
  line-height: 46px;
}
textarea.input-lg,
select[multiple].input-lg {
  height: auto;
}
.form-group-lg .form-control {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
.form-group-lg select.form-control {
  height: 46px;
  line-height: 46px;
}
.form-group-lg textarea.form-control,
.form-group-lg select[multiple].form-control {
  height: auto;
}
.form-group-lg .form-control-static {
  height: 46px;
  min-height: 38px;
  padding: 11px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}
.has-feedback {
  position: relative;
}
.has-feedback .form-control {
  padding-right: 42.5px;
}
.form-control-feedback {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  pointer-events: none;
}
.input-lg + .form-control-feedback,
.input-group-lg + .form-control-feedback,
.form-group-lg .form-control + .form-control-feedback {
  width: 46px;
  height: 46px;
  line-height: 46px;
}
.input-sm + .form-control-feedback,
.input-group-sm + .form-control-feedback,
.form-group-sm .form-control + .form-control-feedback {
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline,
.has-success.radio label,
.has-success.checkbox label,
.has-success.radio-inline label,
.has-success.checkbox-inline label {
  color: #3c763d;
}
.has-success .form-control {
  border-color: #3c763d;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-success .form-control:focus {
  border-color: #2b542c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
}
.has-success .input-group-addon {
  color: #3c763d;
  border-color: #3c763d;
  background-color: #dff0d8;
}
.has-success .form-control-feedback {
  color: #3c763d;
}
.has-warning .help-block,
.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline,
.has-warning.radio label,
.has-warning.checkbox label,
.has-warning.radio-inline label,
.has-warning.checkbox-inline label {
  color: #8a6d3b;
}
.has-warning .form-control {
  border-color: #8a6d3b;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-warning .form-control:focus {
  border-color: #66512c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
}
.has-warning .input-group-addon {
  color: #8a6d3b;
  border-color: #8a6d3b;
  background-color: #fcf8e3;
}
.has-warning .form-control-feedback {
  color: #8a6d3b;
}
.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label {
  color: #a94442;
}
.has-error .form-control {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-error .form-control:focus {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}
.has-error .input-group-addon {
  color: #a94442;
  border-color: #a94442;
  background-color: #f2dede;
}
.has-error .form-control-feedback {
  color: #a94442;
}
.has-feedback label ~ .form-control-feedback {
  top: 25px;
}
.has-feedback label.sr-only ~ .form-control-feedback {
  top: 0;
}
.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373;
}
@media (min-width: 768px) {
  .form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
  .form-inline .form-control-static {
    display: inline-block;
  }
  .form-inline .input-group {
    display: inline-table;
    vertical-align: middle;
  }
  .form-inline .input-group .input-group-addon,
  .form-inline .input-group .input-group-btn,
  .form-inline .input-group .form-control {
    width: auto;
  }
  .form-inline .input-group > .form-control {
    width: 100%;
  }
  .form-inline .control-label {
    margin-bottom: 0;
    vertical-align: middle;
  }
  .form-inline .radio,
  .form-inline .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .form-inline .radio label,
  .form-inline .checkbox label {
    padding-left: 0;
  }
  .form-inline .radio input[type="radio"],
  .form-inline .checkbox input[type="checkbox"] {
    position: relative;
    margin-left: 0;
  }
  .form-inline .has-feedback .form-control-feedback {
    top: 0;
  }
}
.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 7px;
}
.form-horizontal .radio,
.form-horizontal .checkbox {
  min-height: 27px;
}
.form-horizontal .form-group {
  margin-left: -15px;
  margin-right: -15px;
}
@media (min-width: 768px) {
  .form-horizontal .control-label {
    text-align: right;
    margin-bottom: 0;
    padding-top: 7px;
  }
}
.form-horizontal .has-feedback .form-control-feedback {
  right: 15px;
}
@media (min-width: 768px) {
  .form-horizontal .form-group-lg .control-label {
    padding-top: 11px;
    font-size: 18px;
  }
}
@media (min-width: 768px) {
  .form-horizontal .form-group-sm .control-label {
    padding-top: 6px;
    font-size: 12px;
  }
}


// 
// NAV
// 

.navigation {
  background-color: $color-green; 
  margin-bottom: 20px;
}

//
// MODAL
//

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 200ms ease-in;
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in;
    pointer-events: none;
}
.modal:target {
    opacity:1;
    pointer-events: auto;
}
.modal .modal-dialog {
    position: relative;
    width: 450px;
    border-radius: 3px;
    overflow: hidden;
    background: #fff;
    margin: 50px auto 0;
    -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 50px rgba(0,0,0,0.5);
    box-shadow: 0 0 50px rgba(0,0,0,0.5);
}
.modal-header { 
}
.modal-content {
  padding: 50px 65px 50px;
  text-align: center;
}
.modal p {
  line-height: 1.3em;
}

.modal-footer {
  position: relative;
  margin-top: 30px;

  &:after {
    content: "";
    display: block;
    clear: both;
  }
}
.modal .close {
  position: absolute;
  right: 15px;
  top: 10px;
  color: #aaa;
  opacity: 0.75;
  
  &:hover {
   cursor: pointer;
  }
}
.modal .close:hover {
  opacity: 1;
}

.modal .btn {
  width: 100%;
  display: block;
}

.modal .btn.back {
  width: 30%;
  float: left;
}

.modal-footer .forward {
  width: 68%;
  margin-bottom: 0;
  float: right;
}

.modal .field {
  margin-bottom: 30px;
}

.modal .form-control {
  padding: 12px;
  height: 40px;
}

.m-progress-bar {
    min-height: 1em;
    background: #c12d2d;
    width: 5%;
}

.a-progress {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: $color-green;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }

  &:after {
    content: "";
    clear: both;
    display: block;
  }

  .progress-step {
    position: relative;
    float: left;
    margin-left: 40px;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    line-height: 25px;
    background-color: $color-green;
    text-align: center;
    color: #fff;

    &:after {
      content: "";
      position: absolute;
      top: 10px;
      left: -40px;
      width: 40px;
      height: 5px;
      background-color: $color-green;
    }

    &:first-child {
      &:after {
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
      }
    }
    
    &.active {
      background-color: $color-red;

      &:after {
        background-color: $color-red;
      }
    }
  }
}


// modal steps styles

.part-header { 
  margin: 30px 0;
}

.modal button.step {
  position: relative;
  z-index: 1;
}

.modal button.part {
  position: absolute;
  top: 0;
  right: 0;
  // z-index: 0;
  z-index: 1;
}

.modal button.part.back {
  left: 0;
}

.modal #new-registration-submit {
  position: absolute;
  z-index: 0;
  opacity: 0;
}

#sign_up_user {
  padding: 0 10px;
}

.modal-body.status_step .part-1 {  
  .form-group {
    padding-left: 35px;
    
    &:after {
      content: "";
      clear: both;
      display: block;
    }

    .part-1 {
      text-align: left;
    }
  }
  
  label,
  input[type="radio"] {
    margin-top: 10px;
    line-height: 1;
  }
  
  img,
  label,
  input[type="radio"] {
    float: left;
    margin-right: 15px;
  }
}

.modal .status_step .part-2 .part-header {
  text-align: left;

  &:after {
    content: "";
    display: block;
    clear: both;
  }

  img {
    float: left;
  }

  p {
    margin-left: 72px;
    width: auto;
  }
}

.form-group-date {

  &:after {
    content: "";
    clear: both;
    display: block;
  }

  select {
    // width: 32%;
    float: left;

    &:first-child {
      width: 42%;
    }

    &:nth-child(2) {
      width: 28%;
    }

    &:nth-child(3) {
      width: 26%;
    }

    &:not(:last-child) {
      margin-right: 2%;
    }
  }
}

form .form-alert {
  margin-bottom: 15px;

  ul { 
    li {
      margin-bottom: 5px;
    }
  }
}

// MODAL SESSION

#modal-new-session .form-remember {
  text-align: left;
  font-size: 12px;

  input[type="checkbox"] {
    margin-right: 3px;
  }
}

#modal-new-session .shared_links {
  margin-top: 15px;
  text-align: left;
  font-size: 12px;

  a {
    &:hover {
      text-decoration: underline;
    }
  }
}


.form-header {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 15px;
}

// 
// PASSWORDS
// 

.passwords-create,
.passwords-new {
  #main-content {
    background-color: #fff;
    max-width: 450px;
    margin: 0 auto 20px;
    padding: 50px 65px;
    text-align: center;
    border-radius: 5px;
    border-bottom: 2px solid #ddd;


    input[type="email"] {
      padding: 12px;
      height: 40px;
    }

    .btn {
      width: 100%;
      font-weight: 400;
    }
  }
}

// 
// REGISTRATIONS EDIT
// 

.registrations-update,
.registrations-edit {
  #main-content {
    // max-width: 450px;
    margin: 0 auto 20px;
    border-radius: 5px;
    border-bottom: 2px solid #ddd;
    background-color: #fff;
    padding: 30px 65px;
  }

  .form-alert {
    margin-bottom: 20px;
  }

  .form-avatar {
    position: relative;

    &:after {
      content: "";
      clear: both;
      display: block;
    }

    .image, img {
      border-radius: 100%;
      display: block;
      width: 65px;
      height: 65px;
      background-color: #e3e3e3;
      padding: 1px;
      display: block;
      margin-right: 10px;
      float: left;
    }

    .fileUpload {
      position: relative;
      overflow: hidden;
      float: left;
      margin-top: 14px;
    }

    .fileUpload input.upload {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      padding: 0;
      font-size: 20px;
      cursor: pointer;
      opacity: 0;
      filter: alpha(opacity=0);
    }
  }
}

// 
// MAIN_CONTENT
// 

#main-content {
  overflow: hidden;

  &.has_rightbar {
    float: left;
  }

  .section-heading {
    margin-bottom: 20px;

    h2 {
      color: $color-red;
      font-weight: 600;
      font-size: 24px;
      margin-bottom: 0;
    }
  }
}

// 
// SIDEBAR
// 

.rightbar {
  margin-bottom: 30px;
  float: right;

  .section-user {
    text-align: center;
  
    .avatar {
      .image, img {
        border-radius: 100%;
        margin: 0 auto;
      }

      .name {
        font-size: 22px;
        border-bottom: 2px solid #eee;
      }
    }

    ul {
      padding-top: 15px;

      li {
        display: inline-block;
        margin-left: 10px;

        &:first-child {
          margin-left: 0;
        }

        a {
          .fa {
            border-radius: 100%;
            border-width: 3px;
            border-style: solid;
            font-size: 38px;
            width: 70px;
            height: 70px;
            line-height: 64px;
            margin-bottom: 15px;
          }

          span {
            display: block;
          }
        }


        &.forums {
          a {
            color: $color-green;
            border-color: $color-green;          
          }
        }

        &.materials {
          a {
            color: #DC0004;
            border-color: #DC0004;
          }
        }

        &.users {
          a {
            color: $color-red;
            border-color: $color-red;
          }
        }
      }
    }
  }

  .section-forum {
    ul {
      padding: 0;

      li {
        margin-bottom: 15px;

        &:last-child {
          margin-bottom: 0;
        }

        &:after {
          content: "";
          clear: both;
          display: block;
        }

        .fa, a {
          float: left;
        }

        a {
          line-height: 60px;
        }

        .fa {
          color: #aaa;
          font-size: 58px;
          width: 50px;
          text-align: center;
          margin-right: 20px;
        }

        &:nth-child(2) {
          .fa {
            // padding-top: 6px;
            font-size: 52px;
          }
        }

        &:nth-child(3) {
          .fa {
            padding-top: 8px;
            font-size: 46px;
          }
        }
      }
    }
  }

}

//
// FOOTER
//

#footer {
  position: relative;
  background-color: #fff;
  z-index: 1;
  min-height: 100px;

  .container {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  ul {
    li {
      display: inline-block;
      margin-right: 15px;

      a {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .copyright {
    margin-top: 20px;
    float: left;
  }
}

// 
// MISC
// 

.avatar {
  &:after {
    content: "";
    clear: both;
    display: block;
  }

  .image, img {
    border-radius: 100%;
    display: block;
    width: 65px;
    height: 65px;
    background-color: #e3e3e3;
  }

  .name {
    font-size: 1em;
    padding: 15px 0;
  }
}


.article-image {
  img {
    width: 100%;
    display: block;
  }
}

.article-list {
  .article-item {
    margin-bottom: 20px;
    border-radius: 5px;

    &.section {
      padding: 0
    }

    &:nth-child(odd) {
      float: right;
    }

    &:nth-child(even) {
      float: left;
      clear: left;
    }

    .article-title {
      padding: 20px;
      line-height: 30px;
      font-size: 24px;
    }
  }
  


  #infinite-scrolling {
    float: left;
    width: 100%;
  }
}

// 
// HOME PAGE
// 

.welcome-index {

  .article-list {

    .article-item {

      &:first-child {
        .article-image {
          display: block;
          max-height: 330px;
          overflow: hidden;
        }
      }
    }
  }
}

// 
// ARTICLE SHOW
// PAGE SHOW
// 

.pages-show,
.articles-show {

  .article {
    padding: 35px;
    border-radius: 5px;
    margin-bottom: 20px;
  }

  .article-title {
    font-size: 32px;
    margin: 0 0 25px 0;
    font-weight: bolder;
  }

  .article-image {
    img {
      margin-bottom: 25px;
    }
  }

  .article-body {
    line-height: 1.7em;
    color: $color-gray;

    p {
      margin-top: 0;
    }
  }

  .article + .article-list .article-item:nth-child(odd) {
    float: left;
    clear: left;
  }

  .article + .article-list .article-item:nth-child(even) {
    float: right;
  }

}

// 
// MATERIALS
// 

.material-list {
}

.material-item {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

.material-item .name {
  position: relative;

  h2 {
    color: $color-red;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
    width: 100%;
  }

  .date {
    margin-bottom: 20px;
    color: #aaa;
    font-size: 12px;
  }
}

.material-image {
  img {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    border-radius: 5px;
  }
}

.material-links {
  padding: 20px 0;
  margin-top: 20px;
  border-top: 2px solid #eee;

  span {
    color: $color-green;
  }

  .btn {
    min-width: 100%;
    margin: 10px 0 0;
    font-size: 16px;
  }
}


// 
// TOPICS
// 

.topics-index {
  form#new_topic {
    &:after {
      content: "";
      clear: both;
      display: block;
    }

    .actions {    
      input[type="submit"] {
        width: 100%;
        max-width: 280px;
        float: right;
      }
    }
  }
    
  .inner-top {
    position: relative;  
    
    &:after {
      content: "";
      clear: both;
      display: block;
    }
  }
}

form#new_topic {
  textarea,
  input[type="text"] {
    padding: 12px 12px;
    background-color: $default-background-color;
    height: auto;
  }
  
  textarea {
    height: 120px;
  }

  input[type="submit"] {
    height: 44px;
    line-height: 44px;
    padding: 0 12px;
  }
}

.topic-list {
  .topic-item {
    position: relative;
    padding-top: 30px;
    margin-top: 30px;
    border-top: 2px solid #eee;
    
    &:last-child {
      margin-bottom: 10px;
    }
    
    &:after {
      content: "";
      clear: both;
      display: block;
    }
    
    .subject {
      position: relative;

      h2 {
        color: $color-red;
        
        a {
          color: $color-red;
          font-size: 22px;
          font-weight: 600;
          width: 100%;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .date {
        margin-bottom: 10px;
        color: #aaa;
        font-size: 12px;
      }
    }

    .actions {    
      .btn {
        min-width: 140px;
        margin-right: 10px;
        margin-top: 15px;
      }
    }  
  }
}

// 
// TOPICS SHOW
// 

.topics-show {
  #main-content {
    .section-heading {
      position: relative;

      &:after {
        content: "";
        clear: both;
        display: block;
      }

      h2 {
        width: 100%;
        margin-bottom: 10px;
      }

      .favorite-indicator,
      .posts-indicator,
      h2 {
        float: left;
      }

      .posts-indicator {
        position: relative;

        .fa {
          color: #e3e3e3;
          font-size: 36px;
        }

        span {
          display: block;
          position: absolute;
          top: 0;
          right: -8px;
          background-color: $color-green;
          color: #fff;
          border-radius: 100%;
          padding: 0 5px;
          line-height: 18px;
          min-width: 18px;
          height: 18px;
          text-align: center;
          font-size: 12px;
        }
      }

      .favorite-indicator {
        margin-right: 15px;

        .fa {
          color: #F5E70C;
          font-size: 36px;
        }
      }
    }

    .post-list {
      border-top: 2px solid #eee;
      padding-top: 20px;
      margin-top: 20px;

      .post-item {
        position: relative;
        border-bottom: 2px solid #eee;
        padding-bottom: 20px;
        margin-bottom: 20px;        

        &:after {
          content: "";
          clear: both;
          display: block;
        }

        .inner-right {
          .actions {
            margin-top: 10px;
          }

          .like,
          .unlike {
            &:hover {
              text-decoration: underline;
            }
          }

          .unlike {
            color: $color-red;
          }
        }

        .image {
          margin-top: 15px;

          img {
            width: 100%;
            border: 1px solid #eee;
            border-radius: 3px;
          }
        }

        .likes {
          position: relative;
          float: right;
          margin-left: 10px;

          .counter {
            display: block;
            position: absolute;
            top: -5px;
            right: -7px;
            background-color: $color-red;
            color: #fff;
            border-radius: 100%;
            font-size: 12px;
            line-height: 18px;
            min-width: 18px;
            padding: 0 5px; 
            text-align: center;
          }

          .fa {
            font-size: 40px;
            color: #e3e3e3;
          }
        }
      }
    }

    .avatar {
      .name {
        padding: 14px 0 0 0;
      }

      .date {
        color: #aaa;
        font-size: 12px;
      }
    }

    .inner-top {
      .actions {
        text-align: right;
        margin-top: 15px;
      }
    }

    .inner-bottom {
      position: relative;

      &:after {
        content: "";
        clear: both;
        display: block;
      }
    }

    .list-heading {
      font-weight: bold;
      font-size: 24px;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    textarea {
      background-color: #f6f6f6;
      height: 100px;
    }

    .actions {
      input[type="submit"] {
        width: 100%;
        max-width: 280px;
        float: right;
      }
    }

    .smileInsert {
      color: #aaa;
      font-size: 28px;
      margin-bottom: 15px;
    }

    .fileUpload {
      position: relative;
      overflow: hidden;
      float: left;
      color: #aaa;
      font-size: 28px;
      margin-right: 8px;
      margin-bottom: 15px;

      &.active {
        color: $color-red;
      }
    }

    .fileUpload input.upload {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      padding: 0;
      font-size: 20px;
      cursor: pointer;
      opacity: 0;
      filter: alpha(opacity=0);
    }
  }
}

// 
// USER TOPICS
// 

.topics-user {
  .section-heading {
    margin-bottom: 0 !important;
    
    h2 {
      color: $default-text-color !important;
    }
  }

  .topic-item {
    position: relative;

    &:first-child {
      border-top: 0;
      margin-top: 0;
    }
    
    .subject {
      padding-left: 55px;
    }

    .avatar {
      position: absolute;
      top: 25px;
      left: 0;
    }


    .subject {
      h2 {
        margin-bottom: 10px;
      }
    }

    .avatar {
      .image, img {
        width: 40px;
        height: 40px;
      }
    }
  }
}

// 
// USER POSTS
// 

.posts-user {
  .section-heading {
    margin-bottom: 0 !important;
    
    h2 {
      color: $default-text-color !important;
    }
  }
  
  .post-list {
    .post-item {
      position: relative;
      padding-top: 30px;
      margin-top: 30px;
      border-top: 2px solid #eee;
      
      &:last-child {
        margin-bottom: 10px;
      }
      
      &:after {
        content: "";
        clear: both;
        display: block;
      }
      
      .subject {
        position: relative;

        h2 {
          color: $color-red;
          
          a {
            color: $color-red;
            font-size: 22px;
            font-weight: 600;
            width: 100%;

            &:hover {
              text-decoration: underline;
            }
          }
        }

        .date {
          margin-bottom: 10px;
          color: #aaa;
          font-size: 12px;
        }
      }

      .actions {
        .btn {
          min-width: 140px;
          margin-right: 10px;
          margin-top: 15px;
        }
      }  
    }
  }

  .post-item {
    position: relative;

    &:first-child {
      border-top: 0;
      margin-top: 0;
    }

    .subject {
      padding-left: 55px;
      min-height: 40px;
      
      h2 {
        margin-bottom: 10px;
      }
    }

    > .avatar {
      position: absolute;
      top: 25px;
      left: 0;
      
      .image, img {
        width: 40px;
        height: 40px;
      }
    }
    
    .inner-bottom {
      position: relative;
      margin-top: 10px;
      min-height: 40px;

      .body {
        padding-left: 52px;
      }

      .avatar {
        position: absolute;
        top: 0;
        left: 0;
      
        .image, img {
          width: 40px;
          height: 40px;
          background-color: #e3e3e3;
          border-radius: 100%;
        }      
      }
    }

    .actions {
      text-align: right;
    }
  }
}

// 
// USER FAVORITE TOPICS
// 

.favorites-user {
  .section-heading {
    margin-bottom: 0 !important;
    
    h2 {
      color: $default-text-color !important;
    }
  }

  .topic-item {
    position: relative;
    padding-top: 30px;
    margin-top: 30px;
    border-top: 2px solid #eee;

    &:first-child {
      border-top: 0;
      margin-top: 0;
    }
    
    .subject {
      position: relative;
      padding-left: 55px;

      h2 {
        margin-bottom: 10px;

        a {
          color: $color-red;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .date {
        margin-bottom: 10px;
        color: #aaa;
        font-size: 12px;
      }
    }

    .avatar {
      position: absolute;
      top: 25px;
      left: 0;

      .image, img {
        width: 40px;
        height: 40px;
      }
    }

    .actions {
      text-align: right;
      
      .btn {
        min-width: 140px;
        margin-right: 10px;
        margin-top: 15px;
      }
    }
  }
}

.rightbar {
  .topic-list {
    > h2 {
      margin: 0;
    }
  }

  .topic-item {
    padding-top: 25px;
    margin-top: 25px;

    &:first-of-type {
      margin-top: 0;
      border-top: 0;
    }

    img, .image {
      float: left;
      margin-right: 15px;
      width: 40px;
      height: 40px;
      border-radius: 100%;
      background-color: #e3e3e3;
    }

    .name {
      padding: 0;
      margin: 3px 0 0 0;
      font-size: 12px;         
      line-height: 18px;
    }

    img, .name {
      float: left;
    }

    .date {
      position: absolute;
      top: 28px;
      right: 0;
      color: #aaa;
      font-size: 12px;          
    }

    .subject {
      width: calc(100% - 55px);
      float: right;

      h2 {
        line-height: 1;
        margin: 0 !important;
        width: 100%;

        a {
          font-size: 14px;
        }
      }
    }

    .body {
      float: left;
      width: 100%;
      clear: both;
      color: #888;
      font-size: 12px;

      p {
        margin-bottom: 0;
        margin-top: 12px;
      }
    }
  }
}

// 
// RESPONSIVE
// 

// 
// PHONE
// 

@media screen and (max-width: 479px) {
  #main {
    padding-bottom: 194px;
  }
  
  #footer {
    margin-top: -194px;
  }

  .container {
    width: 320px;
    padding-left: 20px;
    padding-right: 20px;
  }

  #main-content {
    width: 100%;
  }

  .rightbar {
    width: 100%;
  }

  .header {
    text-align: center;

    .site-logo {
      margin: 20px 0;
    }

    .slogan {
      margin-bottom: 20px;
    }

    .social-icons {
      margin-bottom: 20px;

      a {
        // margin-left: 10px;

        &:nth-child(2) {
          margin: 0 10px 0 5px;
        }
      }
    }
  }

  #footer {
    ul {
      li{
        width: 50%;
        line-height: 1.8em;
        float: left;
        display: inline;
        margin: 0;

        &:first-child {
          width: 100%;
          margin-bottom: 15px;
        }
      }
    }
  }

  .welcome-index {

    .article-list {

      .article-item {
        
        & + .article-item {

          .article-image {
            display: block;
            height: 183px;
          }
        }
      }
    }
  }

  .registrations-update,
  .registrations-edit {
    #main-content {
      padding: 20px;
    }
  }


  .rightbar {
    .section-user {
      ul {
        li {
          width: 100%;
          margin: 0 0 15px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    .section-forum ul li {
      a {
        width: 100%;
        text-align: center;
        line-height: inherit;

        .fa {
          width: 100%;
          margin: 0 0 10px;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}


// 
// PHONE LANDSCAPE ONLY
// 

@media screen and (max-width: 767px) {
  #main-section {
    form, .avatar {
      margin-bottom: 15px;
  
      .image, img {
        float: left;
        margin-right: 10px;
      }
  
      .name {
        font-weight: bold;
      }

      .date {
        padding-bottom: 14px;
      }
    }
  }
  
  .topics-show #main-section .inner-top .name,
  .topics-show #main-section .inner-bottom .name,
  .topic-item .name {
    line-height: 65px;
    padding: 0;
  }
  
  .topics-show #main-content .actions input[type="submit"] {
    width: 100%;
    max-width: none;
  }
}

// 
// PHONE LANDSCAPE ONLY
// 

@media screen and (min-width: 480px) and (max-width: 767px) {
  #main {
    padding-bottom: 169px;
  }
  
  #footer {
    margin-top: -169px;
  }
  
  .container {
    width: 480px;
  }

  #main-content {
    width: 100%;
  }

  .rightbar {
    width: 100%;
  }

  .header {

    .site-logo {
      float: left;
      margin-top: 28px;
      margin-bottom: 28px;
    }

    .slogan {
      width: 193px;
      padding: 20px 0 20px 20px;
      float: right;
    }

    .social-icons {
      float: right;
      height: 50px;
      margin-bottom: 20px;

      a {
        margin-left: 10px;

        &:nth-child(2) {
          margin-right: 5px;
        }
      }
    }
  }

  #footer {
    ul {
      li{
        width:33.33333%;
        line-height:1.8em;
        float:left;
        display:inline;
        margin: 0;

        &:first-child {
          width: 100%;
          margin-bottom: 15px;
        }
      }
    }
  }

  .welcome-index {

    .article-list {

      .article-item {
        
        & + .article-item {

          .article-image {
            display: block;
            height: 295px;
          }
        }
      }
    }
  }
}

// 
// TABLET AND DESKTOP
// 

@media screen and (min-width: 768px) {
  #main {
    padding-bottom: 100px;
  }
  
  #footer {
    margin-top: -100px;
  }

  #main-content {
    width: 65%;
  }

  .rightbar {
    width: 33%;
  }

  .header {

    .site-logo {
      float: left;
      margin-top: 28px;
      margin-bottom: 28px;
    }

    .slogan {
      width: 200px;
      position: absolute;
      top: 50%;
      left: 290px;
      -webkit-transform: translate(0%, -50%);
      -moz-transform: translate(0%, -50%);
      -ms-transform: translate(0%, -50%);
      -o-transform: translate(0%, -50%);
      transform: translate(0%, -50%);
    }

    .social-icons {
      position: absolute;
      top: 50%;
      right: 30px;
      -webkit-transform: translate(0%, -50%);
      -moz-transform: translate(0%, -50%);
      -ms-transform: translate(0%, -50%);
      -o-transform: translate(0%, -50%);
      transform: translate(0%, -50%);

      a {
        margin-left: 5px;
      }
    }
  }

  // ARTICLE LIST

  .article-list {
    overflow: hidden;

    .article-item {
      background-color: #fff;
      overflow: hidden;

      .article-title {
      }

      img {
      }

      &:first-child {
        width: 100%;
      }
    }
  }
  
  //  TOPICS LIST
  
  .topics-index {
    
    #main-section {      
      form#new_topic {
        width: 100%;
        padding-left: 100px;
      }
    
      > .inner-top {    
        .avatar {
          position: absolute;
          top: 0;
          left: 0;
          text-align: center;
          width: 65px;
        }
      }
    }
    
    .topic-list {
      
      .topic-item {
        position: relative;
      
        &:after {
          content: "";
          clear: both;
          display: block;
        }
        
        .avatar {
          margin-left: 0;
          float: left;
          text-align: center;
          
          .name {
          }
        }
      
        .inner-right {
          margin-right: 0;
          
          .subject {
            h2 {
              margin-bottom: 10px;
            }  
          }
          
          .subject, .body {
            margin: 0 0 0 100px;              
          }
        }
      }
    }
  }

  // TOPICS SHOW

  .topics-show {
    #main-section {
      .section-heading {
        padding-right: 103px;

        .posts-indicator {
          position: absolute;
          top: 0;
          right: 0;
        }

        .favorite-indicator {
          position: absolute;
          top: 0;
          right: 37px;
        }
      }

      .inner-top {
        position: relative;

        &:after {
          content: "";
          clear: both;
          display: block;
        }

      }

      .avatar {
        float: left;
        text-align: center;

        > div {
          width: 65px;
        }
      }

      form, .body {
        width: 100%;
        padding-left: 100px;
      }

      .inner-right {
        > * {
          width: 100%;
          padding-left: 100px;
        }
      }
    }
  }
}

// 
// TABLET TO DESKTOP
// 

@media screen and (min-width: 768px) and (max-width: 1059px) {

  .container {
    max-width: 768px;
  }

  .article-list {
    .article-title {
      font-size: 20px;
    }
  }

  .welcome-index {

    .article-list {

      .article-item {
        
        & + .article-item {

          .article-image {
            display: block;
            height: 323px;
          }
        }
      }
    }
  }

  .rightbar {
    .section-user {
      ul {
        li {
          width: 100%;
          margin: 0 0 15px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    .section-forum ul li {
      a {
        text-align: center;
        line-height: inherit;

        .fa {
          width: 100%;
          margin: 0 0 10px;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .rightbar {
    .topic-item {
      .date, .name {
        width: calc(100% - 55px);
      }

      .date {
        position: relative;
        top: auto;
        right: auto;
        float: left;
      }

      .subject {
        margin-top: 12px;
        width: 100%;
      }
    }
  }
}

// 
// DESKTOP
// 

@media screen and (min-width: 1060px) {

  .container {
    max-width: 1060px;
  }

  .article-list {
    .article-item {
      width: 48.5%;
    }
  }

  .welcome-index {

    .article-list {

      .article-item {
        
        & + .article-item {

          .article-image {
            display: block;
            height: 221px;
          }
        }
      }
    }
  }

  .pages-show,
  .articles-show {
    .article + .article-list .article-item:first-child {
      width: 48.5%;
    }  
  }

  .material-links {
    .btn {
      min-width: 90px;
      margin: 0 0 0 10px;
    }
  }
  
  .post-item {
    .image {
      img {
        width: 200px !important;
      }
    }
  }

  .post-item .subject,
  .topic-item .subject,
  .material-item .name {
    position: relative;

    h2 {
      width: 300px;
      width: calc(100% - 80px);
      margin-bottom: 20px !important;
    }
    
    .date {
      position: absolute;
      top: 7px;
      right: 0;
      float: right;      
      margin: 0;
    }
  }
}
