/* =Nav
-------------------------------------------------------------- */
#nav-trigger {
  display: none; }
  #nav-trigger span {
    position: relative;
    float: right;
    padding: 15px 48px 15px 30px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    text-transform: uppercase; }
    #nav-trigger span:after {
      position: absolute;
      top: 19px;
      right: 30px;
      width: 14px;
      height: 7px;
      content: "";
      border-left: solid 7px transparent;
      border-top: solid 7px #fff;
      border-right: solid 7px transparent; }
    #nav-trigger span:hover {
      background-color: transparent; }
    #nav-trigger span.open:after {
      border-left: solid 7px transparent;
      border-top: none;
      border-bottom: solid 7px #fff;
      border-right: solid 7px transparent; }

nav#nav-main { }
  nav#nav-main ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  nav#nav-main li {
    display: inline-block; }
    nav#nav-main li:first-child a {
      padding-left: 0; }
    nav#nav-main li:last-child {
      float: right;
      overflow: hidden;
      background-color: #F74F7F;}
  nav#nav-main a {
    display: block;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px; }
    nav#nav-main a:hover {
      color: rgba(255,255,255, 0.8); }
    nav#nav-main a.new-session,
    nav#nav-main a.new-registration {
      float: left;
      text-transform: capitalize;}
    nav#nav-main a.new-session {
      position: relative;}
    nav#nav-main a.new-session:after {
      content: "";
      position: absolute;
      top: 50%;
      margin-top: -8px;
      right: 0;
      width: 1px;
      height: 16px;
      background-color: #fff;}
nav#nav-mobile {
  position: relative;
  display: none; }
  nav#nav-mobile:after {
    content: "";
    clear: both;
    display: block; }
  nav#nav-mobile ul {
    display: none;
    list-style-type: none;
    /*position: absolute;*/
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent; }
  nav#nav-mobile li {
    display: block; }
    nav#nav-mobile li:last-child {
      border-bottom: none; }
    nav#nav-mobile li:last-child {
      background-color: #F74F7F;}
  nav#nav-mobile a {
    display: block;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    padding: 15px 30px;
    border-top: 1px solid rgba(255,255,255, 0.15); }
    nav#nav-mobile a:hover {
      background-color: transparent;
      color: #fff; }

/* =Media Queries
-------------------------------------------------------------- */
@media all and (max-width: 900px) {
  #nav-trigger {
    display: block;
    overflow: hidden; }

  nav#nav-main {
    display: none; }

  nav#nav-mobile {
    display: block; }
}