<div class="material-item">
  <div class="name">
    <h2><%= material.name %></h2>
    <div class="date">prieš <%= distance_of_time_in_words(material.updated_at, Time.now) %></div>
  </div>

  <div class="material-image">
    <%= image_tag(material.image.url(:lg)) if material.image.url.present? %>
  </div>
  
  <div class="material-body">
    <%= simple_format(material.body) %>
  </div>
  
  <% if material.material_attachments.any? %>
    <div class="material-links">
      <span>Atsisiųsti kaip:</span>
      <% material.material_attachments.each do |attachment| %>
        <% file_mime = MIME::Types.type_for(File::basename attachment.file.to_s).first.content_type %>
        <% file_id = attachment.file.to_s.split('/').last(2).first %>
        <% file_name = attachment.file.to_s.split('/').last %>
        
        <% if file_mime == "application/pdf" %>
          <%= link_to "Pdf", "/biblioteka/atsisiusti/#{file_id}/#{file_name}", class: "btn btn-green" %>
        <% elsif file_mime.split('/').first == "audio" %>
          <%= link_to "Audio", "/biblioteka/atsisiusti/#{file_id}/#{file_name}", class: "btn btn-green" %>
        <% elsif file_mime == "application/mp4" %>
          <%= link_to "Video", "/biblioteka/atsisiusti/#{file_id}/#{file_name}", class: "btn btn-green" %>
        <% else %>
          <%= file_mime.split('/').last %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>