$('.material-list #infinite-scrolling').before('<%= j render @materials %>');

<% if @materials.next_page %>
  $('.pagination').replaceWith('<%= j will_paginate @materials %>');
<% else %>
  $(window).off('scroll');
  $('.pagination').remove();
<% end %>
