<div class="material-list section">
  <div class="section-heading"><h2>Biblioteka</h2></div>
  <%= render @materials %>

  <div id="infinite-scrolling">
    <%= will_paginate @materials %>
  </div>
</div>
